main{
    background-color: $lightModeBackground;
    padding: 3rem 3rem 5rem 3rem;
    overflow-y:auto;
    
    &::-webkit-scrollbar{
    display: none;
}
}



.hidden {
    display: none !important;
  }

